<div>
  <button class="btn btn-primary my-2 ml-3 my-sm-3" [routerLink]="['/add']" >Adicionar Produto</button>
</div>
<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Descrição</th>
      <th>Valor</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let data of produto">
         <td>{{data.id}}</td>     
         <td>{{data.nome}}</td>
         <td>{{data.categoria}}</td>
         <td>{{data.descricao}}</td>     
         <td>{{data.valor}}</td>
     </tr>
  </tbody>
